<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <p>
      {{ post.content }}
      <mat-action-row>
        <button mat-raised-button>Edit Post</button>
        <button mat-flat-button>Delete Post</button>
      </mat-action-row>
    </p>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-large info-text" *ngIf="posts.length <= 0">
  No posts added yet!
</p>
